*{
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: goldenrod;
}

.container{
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 47, 28);
    border-radius: 8px;
    padding: 55px 30px;

}

h2{
    font-weight: lighter;
}

button{
    height: 40px;
    width: 200px;
    text-align: center;
    background-color: goldenrod;
    border-radius: 5px;
    color:rgb(54, 47, 28) ;
    font-size: 15px;
    font-weight: bold;
    outline: 0;
}
