*{
    box-sizing: border-box;
}

body{
    background-color: bisque;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
}

.card{
    background-color: brown;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 15px;
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.card:nth-of-type(even){
    transform: translateX(-400%);
}

.card.show{
    transform: translateX(0);
}

