*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow: 0;
    height: 100vh;
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg, rgb(27, 50, 165), #902222);
}

.search{
    position: relative;
    height: 50px;

}

.input{
    height: 0px;
    width: 0px;
    border: 0;
    font-size: 15px;
    transition: width 0.7s ease;
}


.btn{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    left: 0;
    color: rgb(87, 15, 131);
    border: 0;
    background-color: rgb(226, 225, 237);
    transition: transform 0.7s ease;    
}

.search.active .input{
    width: 200px;
    height: 50px;
    background-color: aliceblue;
    color: #902222;
    padding-left: 10px;
}

.search.active .btn{
    transform: translateX(200px);
    background-color: blue;
    color: white;
}

